@using ProjectInvoice.Models;

<body>
    <h2>
        Product List
    </h2>
    <table>
        <tr>
            <td><h1>ID      | </h1></td>
            <td><h1>Name     |  </h1></td>
            <td><h1>Price     |  </h1></td>
            <td><h1>Items</h1></td>
        </tr>
        </table>
        @foreach (Product p in ViewBag.Products)
        {
        <form asp-action="CustomerDetailsForm" name="@p.Name" method="post">
            
            <label asp-for="@p.Id">@p.Id</label>
            <label asp-for="@p.Name">@p.Name</label>
            <label asp-for="@p.Price">@p.Price</label>
            <label asp-for="@p.Image"><img src="~/Images/@p.Image" /></label>
           
               
            <button type="submit" name="">Buy</button>
        </form>

        }
    
 
     
</body>